* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    min-height: 20px;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	border: 2px solid #414868;
	background-color: #1a1b26;
	margin-bottom: 8px;
	margin-left: 8px;
	border-radius: 5px
}

#workspaces button {
    padding: 5px 8px;
    color: #c0caf5;
}

#workspaces button.focused {
    color: #7aa2f7;
	border-radius: 4px;
}

#workspaces button.persistent {
    color: #414868;
	border-radius: 4px;
}

#tray, #network, #backlight, #pulseaudio, #battery, #clock {
	border-bottom: 2px solid #414868;
	border-top: 2px solid #414868;
	background-color: #1a1b26;
	color: #c0caf5;
	padding: 5px 8px;
	margin-bottom: 8px;
}

#network {
	color: #f7768e;
}

#backlight {
	color: #9ece6a;
}

#pulseaudio {
	color: #e0af68;
}

#battery {
	color: #bb9af7;
}

#clock {
	color: #7aa2f7;
	border-radius: 0px 5px 5px 0px;
    margin-right: 8px;
	border-right: 2px solid #414868;
}

#tray {
	border-radius: 5px 0px 0px 5px;
	border-left: 2px solid #414868;
}